.cards_div {
  display: flex;
  background-color: white;
  margin: 20px 5%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.card {
  margin: 10px;
  width: 350px;
}
.button_collections {
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
  margin-left: 50px;
  justify-content: center;
}
.buttons {
  height: 35px;
  width: 150px;
  margin: 5px !important;
}
.main_div {
  padding-bottom: 50px;
}
h1 {
  margin-left: 50px;
  color: #313131;
}
.schedule_btn {
  margin-top: 10px !important;
}
